/* Couleurs */
/* Typo */
/*
@import "compass/css3";
@import "compass/reset";
@import 'lib/slick';

@import 'general/form';
@import 'general/helper';
@import 'general/header';
@import 'general/footer';
@import 'general/modal';
@import 'general/loop.scss';

@import 'templates/accueil';
@import 'templates/prestations';
@import 'templates/single';
@import 'templates/agenda';
@import 'templates/contact';
@import 'templates/single-privatisations';
@import 'templates/events';
*/
/* FONT FACE */
@font-face {
  font-family: 'PeintureFraiche';
  src: url("fonts/peintureFraiche.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PeintureFraiche';
  src: url("fonts/peintureFraiche.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PeintureFraiche';
  src: url("fonts/peintureFraiche.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'DrippingMarker';
  src: url("fonts/drippingMarker.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DrippingMarker';
  src: url("fonts/drippingMarker.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'DrippingMarker';
  src: url("fonts/drippingMarker.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
/* --> RESPONSIVE */
/* --> CSS3 */
/*** Prefixers  ***/
/*
RACCOURCIS :

@extend .display-flex ;
@extend .justify-center ;
@extend .space-between ;
@extend .space-around;
@extend .flex-direct-column ;
@extend .flex-direct-row ;
@include display-flex ;
@include flex-flow ;
@include align-items($value);
@include justify-content($value);
@include flex($value);
@include flex-basis($value);
@include transition($args...);
@include flex-direct-column();
@include space-between();
@include space-around();
@include translate($x, $y);
@include placeholder-color($color, $opacity);

*/
/* line 97, ../sass/general/_mixin.scss */
.display-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 105, ../sass/general/_mixin.scss */
.justify-center {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
}

/* line 111, ../sass/general/_mixin.scss */
.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* line 117, ../sass/general/_mixin.scss */
.space-around {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* line 123, ../sass/general/_mixin.scss */
.flex-direct-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* line 130, ../sass/general/_mixin.scss */
.flex-direct-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
/* line 13, ../sass/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 27, ../sass/_normalize.scss */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
/* line 35, ../sass/_normalize.scss */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 49, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
/* line 62, ../sass/_normalize.scss */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
/* line 72, ../sass/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 81, ../sass/_normalize.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 92, ../sass/_normalize.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 105, ../sass/_normalize.scss */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
/* line 115, ../sass/_normalize.scss */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 125, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 135, ../sass/_normalize.scss */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 144, ../sass/_normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 154, ../sass/_normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 165, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
/* line 173, ../sass/_normalize.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 182, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 191, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 199, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 203, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 214, ../sass/_normalize.scss */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
/* line 223, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 232, ../sass/_normalize.scss */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
/* line 240, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 252, ../sass/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 268, ../sass/_normalize.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 278, ../sass/_normalize.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/* line 289, ../sass/_normalize.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 300, ../sass/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 312, ../sass/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
/* line 323, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 336, ../sass/_normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 350, ../sass/_normalize.scss */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 359, ../sass/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 368, ../sass/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 378, ../sass/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 388, ../sass/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
/* line 397, ../sass/_normalize.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 407, ../sass/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
/* line 420, ../sass/_normalize.scss */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 429, ../sass/_normalize.scss */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 440, ../sass/_normalize.scss */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
/* line 448, ../sass/_normalize.scss */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
/* line 459, ../sass/_normalize.scss */
[hidden] {
  display: none;
}

/* line 1, ../sass/_base.scss */
* {
  box-sizing: border-box;
  text-decoration: none;
}

/* line 6, ../sass/_base.scss */
html {
  font-size: 62.5%;
}

/* line 10, ../sass/_base.scss */
body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

/* line 16, ../sass/_base.scss */
main, footer {
  margin: 0 2rem;
}

/* line 20, ../sass/_base.scss */
ul {
  list-style: none;
}

/* line 24, ../sass/_base.scss */
a {
  text-decoration: none;
  display: inline-block;
  color: black;
}

/* line 30, ../sass/_base.scss */
input[type="radio"] + label, form input[type="radio"], form input[type="checkbox"] {
  display: inline-block;
}

/* line 34, ../sass/_base.scss */
input, textarea {
  resize: none;
  overflow: auto;
}

/* line 39, ../sass/_base.scss */
.hidden {
  display: none;
}

/* line 2, ../sass/templates/_detail.scss */
.detailItem {
  text-align: center;
  border: 1px solid orange;
  border-radius: 15px;
}

/* line 8, ../sass/templates/_detail.scss */
.detailItem li {
  display: block;
  margin: 2rem auto;
}

/* line 13, ../sass/templates/_detail.scss */
.detailItem li p {
  text-align: center;
  display: block;
  margin: 0.5rem auto;
  border-radius: 15px;
}

/* line 20, ../sass/templates/_detail.scss */
.detailItem li p:nth-of-type(odd) {
  font-weight: bold;
  border: 1px solid purple;
  color: maroon;
}

/* line 26, ../sass/templates/_detail.scss */
.detailItem .description {
  flex-basis: 75%;
}

@media screen and (min-width: 720px) {
  /* version tablette */
  /* line 33, ../sass/templates/_detail.scss */
  .detailItem ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
  }

  /* line 40, ../sass/templates/_detail.scss */
  .detailItem li {
    display: inline-block;
    margin: 2rem auto;
    flex-basis: 45%;
  }
}
@media screen and (min-width: 1024px) {
  /*version desktop */
  /* line 50, ../sass/templates/_detail.scss */
  .detailItem li {
    flex-basis: 30%;
  }
}
/* Formulaire */
/* line 3, ../sass/templates/_form.scss */
.form form {
  margin: 0 auto;
  border-radius: 20px;
  background-color: #fff;
  padding: 1rem 2%;
}

/* line 10, ../sass/templates/_form.scss */
.form li > label:first-child {
  font-weight: bold;
  margin: 2rem auto 0.5rem;
}

/* line 15, ../sass/templates/_form.scss */
.form label.required::after {
  content: " *";
  color: red;
}

/* line 20, ../sass/templates/_form.scss */
.form legend, .form label {
  display: block;
  margin: auto;
  text-align: center;
  background-color: transparent;
}

/* line 27, ../sass/templates/_form.scss */
.form legend {
  margin: auto;
  padding: 0 1rem;
  color: #444;
  font-size: 2.5rem;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
  font-weight: bold;
}

/* line 36, ../sass/templates/_form.scss */
.form form fieldset {
  max-width: 100%;
  margin: 1rem auto;
  padding: 1rem 0;
  border-radius: 20px;
}

/* line 43, ../sass/templates/_form.scss */
.form form ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 100%;
}

/* line 51, ../sass/templates/_form.scss */
.form li, fieldset {
  max-width: 100%;
}

/* Puts each form button on a line */
/* line 56, ../sass/templates/_form.scss */
.form li.button {
  flex-basis: 100%;
}

/* line 60, ../sass/templates/_form.scss */
.form input:not(:focus), textarea:not(:focus), select:not(:focus) {
  background-color: rgba(255, 210, 20, 0.5);
}

/* line 64, ../sass/templates/_form.scss */
.form input:focus, .form textarea:focus, .form select:focus {
  -webkit-box-shadow: 0px 0px 10px 2px purple;
  -moz-box-shadow: 0px 0px 10px 2px purple;
  box-shadow: 0px 0px 10px 2px purple;
}

/* line 70, ../sass/templates/_form.scss */
.form input, .form button, .form textarea, .form select {
  max-width: 100%;
  border-radius: 15px;
}

/* line 75, ../sass/templates/_form.scss */
.form input[type='text'], .form input[type='email'], .form input[type='password'], .form select {
  width: 80%;
  padding: 0.6rem;
}

/* line 80, ../sass/templates/_form.scss */
.form .shortTextArea {
  min-height: 10rem;
  padding: 0.6rem;
}

/* line 85, ../sass/templates/_form.scss */
.form .longTextArea {
  min-height: 20rem;
  padding: 0.6rem;
}

/* line 90, ../sass/templates/_form.scss */
.form input[type='radio'] {
  margin-right: 0;
}

/* line 94, ../sass/templates/_form.scss */
.form input[type='text'], textarea, select {
  width: 100%;
}

/****** Button ***********/
/* line 101, ../sass/templates/_form.scss */
.form button[type='submit'] {
  background-color: green;
}

/* line 105, ../sass/templates/_form.scss */
.form button[type="reset"] {
  background-color: red;
}

@media screen and (min-width: 720px) {
  /* Tablette version */
  /* line 111, ../sass/templates/_form.scss */
  .form label {
    padding-left: 2rem;
    display: block;
  }

  /* line 116, ../sass/templates/_form.scss */
  .form input[type='radio'] + label {
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  /*Desktop version */
  /* line 123, ../sass/templates/_form.scss */
  .form form ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: stretch;
  }

  /* line 130, ../sass/templates/_form.scss */
  .form li {
    flex-basis: 50%;
    text-align: left;
    padding: 1%;
    margin: 0;
  }

  /* line 137, ../sass/templates/_form.scss */
  .form li button {
    display: block;
    margin: auto;
  }

  /* line 142, ../sass/templates/_form.scss */
  .form label {
    text-align: left;
    margin: 2rem auto 0.5rem !important;
  }

  /* line 148, ../sass/templates/_form.scss */
  .form li.button {
    flex-basis: 100%;
    text-align: center;
  }

  /* line 153, ../sass/templates/_form.scss */
  .form fieldset .error {
    margin: 2rem 0;
  }
}
/***** Lists ********/
/* line 5, ../sass/templates/_list.scss */
.list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

/* line 11, ../sass/templates/_list.scss */
.list h1, section.list h2, section.list h3, section.list h4 {
  flex-basis: 100%;
  /*margin:auto;*/
}

/* line 16, ../sass/templates/_list.scss */
.list article {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 1rem 2rem;
  padding: 0 2rem;
  transition: all .5s ease-out;
  text-align: center;
  -webkit-box-shadow: 0px 0px 34px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 34px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 34px -5px rgba(0, 0, 0, 0.7);
}

/* line 29, ../sass/templates/_list.scss */
.list article:not(:hover) {
  opacity: 0.7;
}

/* line 33, ../sass/templates/_list.scss */
.list article:hover {
  opacity: 1;
  -webkit-box-shadow: 0px 0px 11px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 11px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 11px 8px rgba(0, 0, 0, 0.5);
}

/* line 41, ../sass/templates/_list.scss */
.list article:hover a, .list article a:focus {
  color: Maroon;
  text-decoration: underline;
}

/* line 46, ../sass/templates/_list.scss */
.list article > picture {
  max-width: 100%;
  display: block;
}

/* line 51, ../sass/templates/_list.scss */
.list img {
  border-radius: 50px;
}

@media screen and (min-width: 720px) {
  /* version tablette */
  /* line 58, ../sass/templates/_list.scss */
  section.list {
    flex-flow: row wrap;
  }

  /* line 62, ../sass/templates/_list.scss */
  section.list article {
    flex-basis: 45%;
    margin: 2rem auto;
  }
}
@media screen and (min-width: 1024px) {
  /*version desktop */
  /* line 70, ../sass/templates/_list.scss */
  section.list article {
    flex-basis: 30%;
  }
}
/*GLOBAL */
/*
main, section, article, form, fieldset, p, aside{
	background-color: rgba(0,0,0,0.05);
}
*/
/* line 9, ../sass/_main_styles.scss */
body {
  text-align: center;
  background-image: -moz-linear-gradient(top, #6393c1 0%, #cfe7fa 100%);
  background-image: -webkit-linear-gradient(top, #6393c1 0%, #cfe7fa 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6393c1), to(#cfe7fa));
  background-image: -o-linear-gradient(top, #6393c1 0%, #cfe7fa 100%);
  background-image: linear-gradient(to bottom, #6393c1 0%, #cfe7fa 100%);
}

/* line 18, ../sass/_main_styles.scss */
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin: 0 auto;
  font-family: Verdana, Arial, sans-serif;
}

/* line 24, ../sass/_main_styles.scss */
header nav a, main a, footer a {
  line-height: 2rem;
}

/* line 28, ../sass/_main_styles.scss */
section > h2, footer h2 {
  font-family: 'PeintureFraiche',Verdana, Arial, sans-serif;
}

/* line 32, ../sass/_main_styles.scss */
p {
  font-family: Verdana, Arial, sans-serif;
}

/* line 36, ../sass/_main_styles.scss */
a, a:hover, a:active, a:focus, a:visited {
  display: inline-block;
  max-width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  transition: all 0.3s ease-out;
  border-radius: 20px;
}

/* line 45, ../sass/_main_styles.scss */
a:hover, a:focus {
  border: dotted 1px Maroon;
}

/* line 49, ../sass/_main_styles.scss */
a:active {
  border: dotted 1px Maroon;
}

/* line 53, ../sass/_main_styles.scss */
a:hover, a:active, button {
  cursor: pointer;
}

/* line 57, ../sass/_main_styles.scss */
html {
  font-size: 62.5%;
  margin: 0;
}

/* line 62, ../sass/_main_styles.scss */
body.loading * {
  cursor: wait !important;
}

/* line 66, ../sass/_main_styles.scss */
body {
  font-size: 1.6rem;
  /*	background-color:#cfe7fa; */
}

/* line 71, ../sass/_main_styles.scss */
#logo p, #logo h1 {
  text-transform: uppercase;
}

/* line 75, ../sass/_main_styles.scss */
p {
  text-align: left;
  margin: 0 auto;
  line-height: 25px;
}

/* line 81, ../sass/_main_styles.scss */
img {
  max-width: 100%;
  border-width: 0;
}

/* line 86, ../sass/_main_styles.scss */
ul {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}

/* line 93, ../sass/_main_styles.scss */
i {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* line 98, ../sass/_main_styles.scss */
button {
  font-weight: bold;
  margin: 1rem auto;
  padding: 1rem;
  color: white;
  border-radius: 20px;
  transition: all 0.3s ease-out;
}

/* line 107, ../sass/_main_styles.scss */
button:hover, button:focus {
  transform: scale(1.2);
}

/* line 111, ../sass/_main_styles.scss */
button:active {
  transform: scale(1.8);
}

/* line 116, ../sass/_main_styles.scss */
.error {
  background-color: #ffff55;
  /* very light yellow */
  color: red;
  font-weight: bold;
  max-width: 80%;
  margin: 2rem auto;
  border-radius: 15px;
  padding: 0.1rem;
  text-align: center;
  -moz-box-shadow: 0px 0px 10px 2px red;
  -webkit-box-shadow: 0px 0px 10px 2px red;
  box-shadow: 0px 0px 10px 2px red;
}

/* line 130, ../sass/_main_styles.scss */
.notice {
  max-width: 80%;
  margin: 1rem auto;
  border-radius: 15px;
  background-color: white;
  color: red;
  text-align: center;
  -moz-box-shadow: 0px 0px 10px 5px orange;
  -webkit-box-shadow: 0px 0px 10px 5px orange;
  box-shadow: 0px 0px 10px 5px orange;
}

/* line 142, ../sass/_main_styles.scss */
.invalid {
  -moz-box-shadow: 0px 0px 10px 2px red;
  -webkit-box-shadow: 0px 0px 10px 2px red;
  box-shadow: 0px 0px 10px 2px red;
}

/* line 148, ../sass/_main_styles.scss */
.valid {
  -moz-box-shadow: 0px 0px 10px 2px green;
  -webkit-box-shadow: 0px 0px 10px 2px green;
  box-shadow: 0px 0px 10px 2px green;
}

/* line 154, ../sass/_main_styles.scss */
.hidden {
  display: none;
}

/* line 158, ../sass/_main_styles.scss */
.optionButton {
  display: inline-block;
  max-width: 100%;
  margin: 1rem;
  background-color: yellow;
  color: black;
}

/* line 165, ../sass/_main_styles.scss */
a.btn {
  margin: 0.5rem auto;
  background-color: orange;
  padding: 1rem;
  border-radius: 50px;
  font-weight: bold;
  color: black;
}

/* line 174, ../sass/_main_styles.scss */
a.btn:hover, a.btn:focus, a.btn:active {
  transform: scale(1.2);
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
}

/* line 179, ../sass/_main_styles.scss */
a.btn.delete {
  background-color: rgba(230, 0, 0, 0.8);
  text-shadow: 0px 0px 0px white !important;
  color: white;
}

/* line 185, ../sass/_main_styles.scss */
p.postcode {
  text-align: center;
  font-weight: bold;
}

/* HEADER */
/* line 193, ../sass/_main_styles.scss */
#logo {
  margin-top: 5rem;
}

/* line 197, ../sass/_main_styles.scss */
#logo a:active, #logo a:hover, #logo a:focus {
  border: none;
}

/* line 201, ../sass/_main_styles.scss */
#logo i {
  display: none;
  padding: 0 0.5rem;
}

/* line 206, ../sass/_main_styles.scss */
#logo h1 {
  font-size: 10rem;
  font-family: 'DrippingMarker', Verdana, Arial, sans-serif;
}

/* line 211, ../sass/_main_styles.scss */
header nav {
  text-align: center;
  background-image: -moz-linear-gradient(top, #6393c1 0%, #cfe7fa 100%);
  background-image: -webkit-linear-gradient(top, #6393c1 0%, #cfe7fa 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6393c1), to(#cfe7fa));
  background-image: -o-linear-gradient(top, #6393c1 0%, #cfe7fa 100%);
  background-image: linear-gradient(to bottom, #6393c1 0%, #cfe7fa 100%);
}

/* line 221, ../sass/_main_styles.scss */
header h1, header .h1 {
  text-align: center;
}

/* line 225, ../sass/_main_styles.scss */
header #logo a {
  color: black;
  border-radius: 50px;
}

/* line 230, ../sass/_main_styles.scss */
header nav > ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

/* line 238, ../sass/_main_styles.scss */
header nav > ul li {
  margin: 0 auto;
}

/* line 242, ../sass/_main_styles.scss */
header nav a {
  display: inline-block;
  margin: 1rem;
  padding: 1rem 1rem;
  border: 1px solid black;
  border-radius: 50px;
  background-color: #a9a9a9;
  /* light gray */
  color: #222;
  /* strong gray */
  font-family: 'DrippingMarker', Verdana, Arial, sans-serif;
  font-size: 3rem;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
}

/* line 255, ../sass/_main_styles.scss */
header nav a:hover, header nav a:focus {
  border: 1px solid #fff;
  padding: 1rem 1rem;
  color: #232323;
  /* light black */
  font-weight: bold;
  transform: scale(1.2);
}

/* line 263, ../sass/_main_styles.scss */
header nav a:active {
  background-color: white;
  transform: scale(1.5);
}

/*******Top sliding menu******/
/* line 270, ../sass/_main_styles.scss */
#topMenu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 2.5%;
  transition: transform 0.5s ease-out;
}

/* line 280, ../sass/_main_styles.scss */
#topMenu ul {
  height: 90%;
  margin: 0 auto;
}

/* line 285, ../sass/_main_styles.scss */
#topMenu:not(:target) {
  transform: translateX(-120%);
}

/* line 289, ../sass/_main_styles.scss */
#topMenu:target {
  transform: translateX(0);
}

/* Top sliding menu controlling button (open and close)*/
/* line 295, ../sass/_main_styles.scss */
#topMenu:not(:target) #openTopMenu, #closeTopMenu {
  position: fixed;
  top: 0px;
  left: 120%;
  z-index: 1;
  padding: 0;
  margin-top: 1rem;
  margin-left: 1rem;
}

/* line 305, ../sass/_main_styles.scss */
.menuButton {
  display: block;
  width: 5rem;
  text-align: center;
  border-radius: 10px;
}

/* line 312, ../sass/_main_styles.scss */
#topMenu:target #openTopMenu,
#topMenu:not(:target) #closeTopMenu {
  display: none;
  opacity: 0;
}

/* line 318, ../sass/_main_styles.scss */
#closeTopMenu {
  left: 0%;
  padding: 0.5rem;
}

/* line 323, ../sass/_main_styles.scss */
.menuButton img, .menuButton img {
  max-width: 100%;
  position: relative;
  top: 0.2rem;
}

/* Displaying of the member pseudo */
/* line 331, ../sass/_main_styles.scss */
#memberNotice {
  font-family: 'DrippingMarker', Verdana, Arial, sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

/* MAIN */
/* line 340, ../sass/_main_styles.scss */
main h1 {
  font-size: 6rem;
  font-family: 'DrippingMarker', Verdana, Arial, sans-serif;
}

/* line 345, ../sass/_main_styles.scss */
main section {
  max-width: 1100px;
  margin: 2rem auto 0;
}

/* line 350, ../sass/_main_styles.scss */
section, article, aside {
  text-align: center;
  border-radius: 20px;
}

/* line 355, ../sass/_main_styles.scss */
section, aside {
  margin: 0 auto;
  background-color: #fff;
  padding: 1rem 2%;
}

/* line 361, ../sass/_main_styles.scss */
section p {
  text-align: center;
}

/* line 365, ../sass/_main_styles.scss */
picture {
  margin: 1rem auto;
  display: block;
}

/* line 370, ../sass/_main_styles.scss */
picture img {
  max-width: 100%;
}

/* line 374, ../sass/_main_styles.scss */
article {
  margin: auto;
}

/* line 378, ../sass/_main_styles.scss */
.mapContainer {
  border: solid 2px black;
  height: 500px;
  margin: auto;
  width: 80%;
}

/* FOOTER */
/* line 388, ../sass/_main_styles.scss */
footer, aside {
  text-align: center;
  max-width: 1100px;
  margin: 2rem auto;
}

/* line 394, ../sass/_main_styles.scss */
small {
  max-width: 85%;
  margin: auto;
}

/* line 400, ../sass/_main_styles.scss */
footer a:hover, footer a:focus, footer a:active {
  color: Maroon;
  text-decoration: underline;
}

/********** Tablet version *****/
@media all and (min-width: 720px) {
  /* HEADER */
  /* line 414, ../sass/_main_styles.scss */
  header {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 420, ../sass/_main_styles.scss */
  #logo i {
    padding: 0 0.5rem;
    display: inline-block;
  }

  /* line 425, ../sass/_main_styles.scss */
  header nav {
    text-align: center;
    background-image: none;
  }

  /* line 430, ../sass/_main_styles.scss */
  header nav > ul {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    height: 100%;
  }

  /* line 438, ../sass/_main_styles.scss */
  header nav > ul li {
    flex-basis: 20%;
  }

  /* line 442, ../sass/_main_styles.scss */
  header #logo {
    padding: 0.5rem 0;
  }

  /* line 446, ../sass/_main_styles.scss */
  header nav > ul {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  /* line 453, ../sass/_main_styles.scss */
  header nav > ul li {
    margin: 1.5rem auto;
  }

  /* line 457, ../sass/_main_styles.scss */
  #topMenu:not(:target) {
    background-color: transparent;
  }

  /* line 461, ../sass/_main_styles.scss */
  #topMenu:not(:target) ul {
    opacity: 0;
  }

  /* line 465, ../sass/_main_styles.scss */
  #topMenu:target {
    transform: translateX(0);
    position: static;
    z-index: 1;
  }

  /* line 471, ../sass/_main_styles.scss */
  #topMenu > ul li {
    flex-basis: 45%;
  }
}
/********** Desktop version ************/
@media all and (min-width: 1024px) {
  /* line 481, ../sass/_main_styles.scss */
  header {
    width: 100%;
  }

  /* line 485, ../sass/_main_styles.scss */
  nav > ul {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  /* line 491, ../sass/_main_styles.scss */
  nav > ul li {
    margin: 1.5rem auto;
  }

  /* HEADER */
  /* line 497, ../sass/_main_styles.scss */
  #topMenu, #topMenu ul {
    position: static;
    transform: none !important;
    opacity: 1 !important;
  }

  /* line 504, ../sass/_main_styles.scss */
  #openTopMenu,
  #closeTopMenu {
    display: none;
  }

  /* line 509, ../sass/_main_styles.scss */
  #topMenu > ul li {
    flex-basis: 20%;
    margin: 1rem;
  }

  /* line 514, ../sass/_main_styles.scss */
  #memberNotice {
    text-align: right;
  }

  /* MAIN */
  /* line 519, ../sass/_main_styles.scss */
  main nav > ul li {
    flex-basis: 20%;
  }

  /* line 523, ../sass/_main_styles.scss */
  .error {
    margin: 2rem auto;
  }

  /* line 527, ../sass/_main_styles.scss */
  button {
    margin: 0;
  }
}
