
/* FONT FACE */

@font-face {
	font-family: 'PeintureFraiche';
	src: url('fonts/peintureFraiche.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PeintureFraiche';
	src: url('fonts/peintureFraiche.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PeintureFraiche';
	src: url('fonts/peintureFraiche.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'DrippingMarker';
	src: url('fonts/drippingMarker.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DrippingMarker';
	src: url('fonts/drippingMarker.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DrippingMarker';
	src: url('fonts/drippingMarker.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Urban_slick';
	src: url('fonts/urban_slick.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Urban_slick';
	src: url('fonts/urban_slick.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Urban_slick';
	src: url('fonts/urban_slick.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Patinio_Graffiti';
	src: url('fonts/patinio_Graffiti.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Patinio_Graffiti';
	src: url('fonts/patinio_Graffiti.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Patinio_Graffiti';
	src: url('fonts/patinio_Graffiti.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
