$font_family_logo_1 : 'Patinio_Graffiti', Verdana, Arial, sans-serif; 
$font_family_logo_2 : 'DrippingMarker', Verdana, Arial, sans-serif; 
$font_family_1 : 'Urban_slick', Verdana, Arial, sans-serif; 
$font_family_2 : 'PeintureFraiche', Verdana, Arial, sans-serif;
